@import "tailwindcss";

@theme {
    --color-discord-side: #202225;
    --color-discord-side-font: #fefdfd;
    --color-text-green-500: #56b177;
    --color-channel: #2f3136;
    --color-top-bar: #37383E;
    --color-top-search: #4E545B;
    --color-content-bar: #38393F;
    --shadow-top-bar: 0 2px 4px rgba(0, 0, 0, 0.2);

}

@layer{
    .sidebar-icon{
        @apply relative flex items-center justify-center
        h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-green-500
        hover:bg-green-700 hover:text-white
        rounded-3xl hover:rounded-xl
        transition-all duration-300 ease-in;
    }
    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md text-white bg-gray-900
        text-xs font-bold
        transition-all duration-100 scale-0 origin-left
        group-hover:scale-100
    }
}